.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Стили для шапки сайта */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  z-index: 4;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

/* Стили для секции description */

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
  min-height: 100%;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Стили для секции digits */

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_digits {
  padding-top: 100px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 0 0 100px;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__text:last-child {
  margin-bottom: 0;
}

/* Стили для секции feynman */

.feynman {
  min-height: 890px;
  position: relative;
  background: url(../images/feynman.png) left bottom/867px 637px no-repeat,
    #f2f2f2;
}

.feynman__title {
  padding-top: 100px;
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 4;
}

.feynman__subtitle {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
}

/* Стили для секции kaufman */

.kaufman {
  overflow: hidden;
  background: url(../images/kaufman-triangle.svg) right -210px top/877px 877px no-repeat,
    #000000;
}

.section-title_theme_dark {
  color: #ffffff;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table_theme_dark {
  color: white;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
}

/* Стили для секции footer */

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: white;
  padding: 60px 0 40px;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin-bottom: 18px;
}

.footer__column_heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
